@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.3em;
    vertical-align: super;
  }
  sub {
    bottom: -0.25em;
    vertical-align: sub;
  }

  .animation {
    @apply transition duration-300 ease-in-out;
  }

  .link {
    @apply transition duration-300 ease-in-out hover:text-purple-900 font-extrabold;
  }

  .h2 {
    @apply text-4xl font-bold;
  }
  .h3 {
    @apply text-2xl font-bold;
  }
  .meta-detail {
    @apply mr-2 mb-2 text-gray-600 text-sm bg-gray-50 py-1 px-2;
  }
  .skill {
    @apply inline-block mr-6 mb-6 sm:mb-0 text-6xl sm:text-5xl cursor-pointer;
  }

  .markdown h1 {
    @apply text-4xl font-bold mb-5;
  }
  .markdown h2 {
    @apply text-3xl font-bold mb-5;
  }

  .markdown h3 {
    @apply text-2xl font-medium mb-5;
  }

  .markdown h4 {
    @apply text-xl font-medium mb-5;
  }

  .markdown a {
    @apply font-medium underline text-pink-400;
  }

  .markdown p {
    @apply mb-5 text-lg font-light;
  }
  .markdown strong {
    @apply font-medium;
  }
  .toc {
    @apply bg-gray-900 hidden sm:ml-6 sm:inline-block py-4 px-5 mb-5;
  }

  .toc li {
    @apply ml-1 my-1 text-sm text-gray-400 font-light hover:text-gray-50;
  }
}
